option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: application:application
        NumProcesses: 3
        NumThreads: 20
        StaticFiles: /static=./static/
        
    aws:elasticbeanstalk:application:environment:
        PYTHONPATH: /var/app/current:$PYTHONPATH
        
    aws:autoscaling:launchconfiguration:
        IamInstanceProfile: aws-elasticbeanstalk-ec2-role

commands:
    01_pip_upgrade:
        command: /opt/elasticbeanstalk/tasks/bundlelogs.d/01_python.py
    02_install_deps:
        command: source /var/app/venv/*/bin/activate && pip install --upgrade pip